<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="active">
                <a href="{{ path('Welcome to Symfony') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('planemodel_index') }}">Voir les avions</a>
            </li>
            <li>
                <a href="{{ path('reservation_index') }}">Voir les reservations</a>
            </li>
            <li>
                <a href="{{ path('flight_index') }}">Voir les vols</a>
            </li>
            <li>
                <a href="{{ path('site_index') }}">Voir les terrains</a>
            </li>
            <li>
                <a href="{{ path('review_index') }}">Voir tous les avis utilisateurs</a>
            </li>
        </ul>
    </div>
</nav>