<!-- Second navbar for sign in -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{{ path('Welcome to Symfony') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('planemodel_index') }}">Voir les avions</a>
                </li>
                <li>
                    <a href="{{ path('reservation_index') }}">Voir les reservations</a>
                </li>
                <li>
                    <a href="{{ path('flight_index') }}">Voir les vols</a>
                </li>
                <li>
                    <a href="{{ path('site_index') }}">Voir les terrains</a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}">Voir tous les utilisateurs</a>
                </li>
                <li>
                    <a href="{{ path('review_index') }}">Voir tous les avis utilisateurs</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
